*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(250, 228, 202);
}

h1{
    background-color:palevioletred;
    text-decoration: wavy;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
  height: 200px;
  width: 200px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5px;
}

.choice:hover{
    cursor: pointer;
    box-shadow: 2px;
    opacity: 0.7;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 5rem;
    gap:4rem;
}

#user_score,#comp_score{
    font-size: 4rem;
}

.msg_container{
margin-top: 5rem;
}

#msg{
    background-color: black;
    font-size: 2rem;
    color: antiquewhite;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#foot{
    color: palevioletred;
    font-weight: 500;
}